# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.venv/
# C extensions
*.so

# Distribution / packaging
.Python
output/
env/
dict/kindle
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
dict/tvb_pleco.tab
dict/TrungViet-big.tab
dict/TrungViet-big.txt

**/*.Identifier

ext-dict/Bach_khoa_toan_thu.dfo
ext-dict/CCCE-Thin.dfo
ext-dict/CCCE-Thin.tab
ext-dict/CCCE-Thin.txt
ext-dict/Char-Component-Dict.dfo
ext-dict/Char-Component-Dict.tab
ext-dict/Char-Component-Dict.txt
ext-dict/ChineseThesaurus-big.dfo
ext-dict/ChineseThesaurus-big.tab
ext-dict/ChineseThesaurus-big.txt
ext-dict/ChineseThesaurus-mid.dfo
ext-dict/ChineseThesaurus-mid.tab
ext-dict/ChineseThesaurus-mid.txt
ext-dict/ChineseThesaurus-small.dfo
ext-dict/ChineseThesaurus-small.tab
ext-dict/ChineseThesaurus-small.txt
ext-dict/HanziHeroPleco.dfo
ext-dict/HanziHeroPleco.tab
ext-dict/HanziHeroPleco.txt
ext-dict/Ngu-vung-Danh-tu-Thien-hoc.dfo
ext-dict/Ngu-vung-Danh-tu-Thien-hoc.tab
ext-dict/opencc_pleco.txt
ext-dict/Phat-Quang-Dai-tu-dien-Han-ngu.dfo
ext-dict/Phat-Quang-Dai-tu-dien-Han-ngu.tab
ext-dict/radical_name_pleco.dfo
ext-dict/radical_name_pleco.tab
ext-dict/radical_name_pleco.txt
ext-dict/Rong-mo-tam-hon.dfo
ext-dict/Rong-mo-tam-hon.tab
ext-dict/TrungViet-big.dfo
ext-dict/TrungViet-big.tab.bz2
ext-dict/TrungViet-big.txt.bz2
ext-dict/TrungViet-mid.dfo
ext-dict/TrungViet-mid.tab
ext-dict/TrungViet-mid.txt
ext-dict/TrungViet-small.dfo
ext-dict/TrungViet-small.tab
ext-dict/TrungViet-small.txt
ext-dict/Tu-dien-Dao-Uyen.dfo
ext-dict/Tu-dien-Dao-Uyen.tab
ext-dict/Tu-dien-Phat-hoc-Anh-Han-Viet.dfo
ext-dict/Tu-dien-Phat-hoc-Anh-Han-Viet.tab
ext-dict/Tu-dien-Phat-hoc-Tinh-tuyen.dfo
ext-dict/Tu-dien-Phat-hoc-Tinh-tuyen.tab
ext-dict/Tu-dien-Phat-hoc-Viet-Anh-Dong-Loai.dfo
ext-dict/Tu-dien-Phat-hoc-Viet-Anh-Dong-Loai.tab
ext-dict/Tu-dien-Phat-hoc-Viet-Anh-Minh-Thong.dfo
ext-dict/Tu-dien-Phat-hoc-Viet-Anh-Minh-Thong.tab
ext-dict/Tu-dien-Phat-hoc-Viet-Anh-Thien-Phuc.dfo
ext-dict/Tu-dien-Phat-hoc-Viet-Anh-Thien-Phuc.tab
ext-dict/Tu-dien-Phat-Quang.dfo
ext-dict/Tu-dien-Phat-Quang.tab
ext-dict/Tu-dien-ThienChuu-TranVanChanh.dfo
ext-dict/Tu-dien-ThienChuu-TranVanChanh.pleco
ext-dict/Tu-dien-ThienChuu-TranVanChanh.tab
ext-dict/Tu-dien-ThienChuu+TranVanChanh_v1.0.pqb
ext-dict/Tu-dien-Tong-hop-Phat-hoc.dfo
ext-dict/Tu-dien-Tong-hop-Phat-hoc.json
ext-dict/Tu-dien-Tong-hop-Phat-hoc.tab
ext-dict/TudienAnhVietAnh.dfo
ext-dict/TudienAnhVietAnh.tab
ext-dict/TudienAnhVietBeta-Inflections.txt
ext-dict/TudienAnhVietBeta.dfo
ext-dict/TudienAnhVietBeta.tab
ext-dict/TudienThienChuu.dfo
ext-dict/TudienThienChuu.tab
ext-dict/TudienThienChuu.txt
ext-dict/dict_summary_epub.md
ext-dict/dict_summary_kindle.md
ext-dict/dict_summary.md
ext-dict/dict_summary.zip
ext-dict/Bach_khoa_toan_thu.tab
ext-dict/Prodict_EV_business.tab
ext-dict/Prodict_EV_Tech.tab
ext-dict/Prodict_VE_business.tab
ext-dict/Prodict_VE_Tech.tab
ext-dict/SPDict-Anh-Viet-Anh.tab
ext-dict/SPDict-Anh-Viet.tab
ext-dict/SPDict-Viet-Anh.tab
ext-dict/TrungViet-big.tab
ext-dict/Tu_dien_Han_ngu.tab
ext-dict/Viet-Nhat_NXBVHTT.tab
ext-dict/Wikipedia.tab
ext-dict/WordNet2.0.tab
ext-dict/kindle/*
ext-dict/misc/Tu-dien-ThienChuu+TranVanChanh-Pleco.txt
ext-dict/misc/Tu-dien-ThienChuu+TranVanChanh.xlsx
