#PyGlossary >= 4.2.0
iso_language_codes >= 1.1.0
# pattern >= 3.6.0
marisa-trie >= 0.7.7
lxml >= 4.9.1
beautifulsoup4 >= 4.11.1
pinyin >= 0.4.0
pyglossary >= 4.6.1
pinyin_jyutping_sentence
langcodes==3.5.0
iso-language-codes==1.1.0
langcodes==3.5.0
mdict-utils==1.3.14