name: Release all INTERNAL & EXTERNAL dictionaries

on:
  workflow_dispatch:

  push:
    paths-ignore:
      - .gitignore
      - '*.md'
      - LICENSE
      - bin/create_inflections.py      
      - .github/workflows/release_all.yml   

env:
  INPUT_DIR: dict
  OUTPUT_DIR: output

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
  
jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        submodules: 'recursive'

    - name: Setup Ubuntu packages
      run: |
        # Call a script so that it can be used in a shell/container as well
        ./bin/install_linux_packages.sh 

    - name: Setup Wine32
      run: |
        # Call a script so that it can be used in a shell/container as well
        ./bin/install_wine32.sh

    - name: Setup Utilities
      run: |
        # Call a script so that it can be used in a shell/container as well
        ./bin/install_utilities.sh

    - name: Build makedict
      run: |
        # Call a script so that it can be used in a shell/container as well
        ./bin/install_makedict.sh

    - uses: actions/setup-python@v4
      with:
        python-version: '3.12' 
        
    - name: Setup Python packages
      run: |
        pip install uv &&
        uv sync
        
    - name: Build all dictionaries
      run: |
        make all

    - name: Get Current Timestamp
      id: timestamp
      run: |
        echo "TIMESTAMP=$(date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV

    - name: Create a new release draft
      id: create_release
      uses: ncipollo/release-action@v1
      with:
          artifacts: "${{ env.OUTPUT_DIR }}/*.*,${{ env.INPUT_DIR }}/dict_summary.json,${{ env.INPUT_DIR }}/dict_summary.md"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          draft: true
          name: "Release ALL dictionaries at ${{ github.ref }} - ${{ env.TIMESTAMP }}"
          bodyFile: ${{ env.INPUT_DIR }}/dict_summary.md

